@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}
.user-image {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 38px;
    height: 38px;
  }
  .menu-item {
    margin-left: 20px;
  }
  .dropdown-menu {
    position: absolute;
    top: 65px;
    list-style: none;
    background: $secondary-color;
    box-shadow: 0 4px 8px darkslategrey;
    li {
      color: #fff;
      padding: 5px 40px 5px 10px;
      font-size: 15px;
      cursor: pointer;
    }
    li:hover {
      background: lightblue;
      color: black;
    }
  }
}
.search {
  width: 50%;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    justify-content: center;
    width: 70%;
    button {
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      height: 32px;
    }
  }
  input {
    font-size: 16px;
    width: 100%;
    height: 32px;
    padding: 5px 5px 5px 10px;
    outline: none;
  }
}
